@charset "UTF-8";

/* Layout independent adjustments */
@import url(/stylesheets/core/slim_iehacks.css);

/* Layout-dependent adjustments */
@media screen, projection
{
  /**
   * Bugfix for IE 3-Pixel-Jog Bug
   *
   * @bugfix
   * @affected   IE 5.x/Win, IE6
   * @css-for    IE 5.x/Win, IE6
   * @valid      yes
   */

  * html #col3 { height: 1%; }
  * html #col1 {margin-right: -3px;}
  * html #col2 {margin-left: -3px;}
  * html #col3 { margin-left: 24%; margin-right: 24%; }
}